h1{
    background-color: yellow;
    border: 2px solid black;
}
@media ( min-width:500px) {
h1{
    background-color: rgb(18, 233, 18);
}
    div{
        background-color: blue;
        height: 100px;
        width: 100px;
    }
}
@media (max-width:400px) {
    h1{
        background-color: pink;
    }
    
}
@media (min-width:200px ) and (max-width:300px){
    h1{background-color: magenta;}
}
@media (orientation: landscape) {
    h1{background-color: aqua;
    }
    
}