h2{
    color: orangered;
}
h1{color: rgb(61, 6, 6);
}
h1 span{
    color: rgb(182, 135, 6);
}
img{
    width: 100%;
    border-radius: 25px;
}
h3{
    text-align: center;
}
.card{
    width: 500px;
    border-radius: 25px;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}
h4{
    text-align: right;
}
 #pets{
    display: flex;
    justify-content: space-evenly;
    
} 
@media (max-width:375px) {
    #pets{
        flex-wrap: wrap;
    }
}
