.box{
    height: 50px;
    width: 200px;
    background-color: palevioletred;
    animation: fontAnimation 4s ease-in 0s infinite normal ;
}
@keyframes fontAnimation{
    0%{
        background-color: aqua;
    }
    50%{
        background-color: pink;
        border-radius: 5px;
    }
    80%{
        background-color: rgb(174, 230, 21);
    }
    100%{
        background-color: green;
    }
}