/*desendant selector*/
.name a{
color: purple;
background-color: yellow;
}
h1{
    color:rgb(161, 12, 12)
}
nav ul li a{
    color: hotpink;
}
button{
    background-color: palevioletred;
}
p+h3{
    text-decoration: underline;
}
div>input{
    background-color: aqua;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
#myID p{
    color: green;
}
button:hover {
    background-color: black;
    color: wheat;
}
p:active{
    background-color: aqua;
    color: red;
}
input[type="radio"]:checked + label{
    color:red;
    font-weight: bold;
}
h1::first-letter{
    color: black;
}

