/*desendant selector*/
.name a{
color: purple;
background-color: yellow;
}
nav ul li a{
    color: hotpink;
}
p+h3{
    text-decoration: underline;
}
div>input{
    background-color: aqua;
}
input[type="text"]{
    color: green;
}
input[type="password"]{
    color: red;
}
#myID p{
    color: green;
}