h1{
    text-align: center;
}
#container{
display: flex;
height: 800px;
width: 80%;
margin: 10px auto;
border: 2px solid black;
flex-direction: row;
justify-content: flex-start;
/*flex-wrap: wrap;*/
align-items: baseline;
align-content: flex-start;
}
#org{
    align-self: flex-start;
   /* flex-basis: 2;
flex-grow: 2;*/
    flex-shrink:3;
}
#blu{
flex-shrink: 2;
}
#container div{
    height: 100px;
    width: 200px;
    font-size: 1.5em;
    text-align: center;
}
