h1{
    text-align: center;
}
#container{
display: flex;
height: 300px;
width: 80%;
margin: 10px auto;
border: 2px solid black;
flex-direction: row;
}
#container div{
    height: 100px;
    width: 500px;
    font-size: 1em;
    text-align: center;
}
